---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="RustDesk">
  <div class="m-4">
    <span>
      To use RustDesk, download it from
      <a class="hover:underline" href="https://rustdesk.com/" rel="noopener noreferrer">rustdesk.com</a>.
    </span>
    <span>
      Then configure it using the following settings. Here is a configuration tutorial
      <a
        class="hover:underline"
        href="https://rustdesk.com/docs/en/self-host/install/#step-3--set-hbbshbbr-address-on-client-side"
        rel="noopener noreferrer">
        https://rustdesk.com/docs
      </a>
    </span>
    <div>&nbsp;</div>
    <div><span>ID Server:</span> <code class="text-xs">rustdesk.sharath.co.in</code></div>
    <div><span>Key:</span> <code class="text-xs">6ILz0Vr6wuqJzPIQnVD4x4td73Hc5ivyUq8wvXtJFXQ=</code></div>
  </div>
</Layout>
