---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <h1 class="text-6xl">You seem lost</h1>
  <div class="h-5"></div>
  <a class="hover:underline" href="/menu">visit the menu?</a>
</Layout>
