---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="m-4">
    <h1 class="text-3xl">Hey, I'm Sharath.</h1>
    <p class="text-xl pt-3">A tech enthusiast, gamer, and a software developer.</p>
    <p class="pt-3">
      I'm currently working as a Software Development Engineer at <a
        href="https://saaslabs.co/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:underline">SaaS Labs</a
      >.
    </p>
    <p class="pt-3">
      I graduated from IIT Hyderabad in 2022 with a B.Tech in Electrical Engineering and Engineering Science.
    </p>
    <p class="pt-3">
      <a href="/portfolio/skills" class="hover:underline">My Skills</a>
    </p>
    <p class="pt-3">
      <a href="/portfolio/projects" class="hover:underline">My Projects</a>
    </p>
  </div>
</Layout>
