---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <div class="flex">
    <h1 class="text-3xl">Email me at&nbsp;</h1>
    <a class="text-3xl hover:underline" href="mailto:me@sharath.co.in"> me@sharath.co.in</a>
  </div>
</Layout>
