---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <div class="flex">
    <h1 class="text-3xl text-stone-400">Email me at&nbsp;</h1>
    <a class="text-3xl hover:underline text-stone-50" href="mailto:query@sharath.co.in">query@sharath.co.in</a>
  </div>
</Layout>
