---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";
---

<Layout title="Home">
  <div>
    <CardGrid>
      <Card><h1>Hello World</h1></Card>
      <Card><h1>Hello World</h1></Card>
      <Card><h1>Hello World</h1></Card>
      <Card><h1>Hello World</h1></Card>
      <Card><h1>Hello World</h1></Card>
      <Card><h1>Hello World</h1></Card>
      <Card><h1>Hello World</h1></Card>
    </CardGrid>
  </div>
</Layout>
