---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <span id="home-content"><h1 class="text-6xl">Hi</h1></span>
</Layout>
<script>
  if (`${window.location.href}` !== `${window.location.origin}/`) {
    document.getElementById("home-content")!.innerHTML = `
      <h1 class="text-6xl">You seem lost</h1>
      <div class="h-5"></div>
      <a class="hover:underline" href="/menu">visit the menu?</a>
    `;
  }
</script>
