<div class="grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 card-grid invisible">
  <slot />
</div>

<script>
  setTimeout(() => {
    const el = document.querySelectorAll(".card-grid");
    el.forEach(e => {
      e.classList.replace("invisible", "visible");
    });
    setTimeout(() => {
      const els = document.querySelectorAll("[data-tilt-later]");
      els.forEach(el => {
        el.removeAttribute("style");
        el.setAttribute("style", "transform-style: preserve-3d; transform: perspective(1000px);");
      });
      VanillaTilt.init(els, {
        max: 5,
        glare: true,
        "max-glare": 0.2,
        gyroscope: false,
        scale: 1.02,
        reverse: true,
      });
    }, 600);
  }, 200);
</script>
