---
export interface CardProps {
  bgColorClass?: string;
  width?: 1 | 2 | 4 | "default";
  height?: 1 | 2 | 4 | "default";
}

let { bgColorClass, height, width } = Astro.props as CardProps;
if (!bgColorClass) bgColorClass = `bg-gradient-to-tr from-red-600 to-red-200`;
if (!height) height = "default";
if (!width) width = "default";

const colSpan = {
  default: "col-span-2",
  1: "col-span-1",
  2: "col-span-2",
  4: "col-span-4",
};
const rowSpan = {
  default: "row-span-2",
  1: "row-span-1",
  2: "row-span-2",
  4: "row-span-4",
};
---

<div
  class={` ${bgColorClass} flex flex-col justify-center items-center ${colSpan[width]} ${rowSpan[height]} w-40 h-40 3d-card`}
  style="transform-style: preserve-3d; transform: perspective(1000px)"
  data-tilt
  data-tilt-reverse="true"
  data-tilt-gyroscope="false"
  data-tilt-max={5}
  data-tilt-scale={1.02}
>
  <div style="transform: translateZ(20px)">
    <slot />
  </div>
</div>
