<button class="m-2">
  <div
    class="w-8 h-8 grid grid-cols-3 grid-rows-3 text-slate-300 hover:text-slate-50 transition-all hover:scale-110 focus:scale-110"
  >
    <div class="bg-current m-0.5"></div>
    <div class="bg-current m-0.5"></div>
    <div class="bg-current m-0.5"></div>
    <div class="bg-current m-0.5"></div>
    <div class="bg-current m-0.5"></div>
    <div class="bg-current m-0.5"></div>
    <div class="bg-current m-0.5"></div>
    <div class="bg-current m-0.5"></div>
    <div class="bg-current m-0.5"></div>
  </div>
</button>
