@font-face {
  font-family: "Cheri";
  src: url("./lib/fonts/CHERI___.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}
